/* blue color: #2980b9 */


/*    ----BASIC SETUP----    */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*    ----REUSABLE COMPONENTS-----    */


/*.row1 for nav same as .container*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* ---- HEADINGS ---- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: ;
}

h1 {
    font-size: 240%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2,
h3 {
    margin-top: 10px;
}


/* ----PARAGRAPHS----*/

p {
    text-align: justify;
}

.login-post {
    background-color: lueviolet;
    width: 25%;
    float: left;
    padding-bottom: 150px;
}

.other-post {
    background-color: isque;
}

.other-post img {
    height: 200px;
    width: 300px;
}

.photorow {
    display: flex;
}

.pic {
    flex: 33.33%;
}

.pic img {
    max-width: 500px;
    max-height: 500px;
}


/*   ---HEADER---   */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/heroimage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.herotextbox {
    position: absolute;
    max-width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo img {}


/*---main navi---*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: ;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2980b9;
}


/* ----BUTTONS ----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #2980b9;
    border: 1px solid #2980b9;
    color: #fff;
    margin-right: 15px;
}

.btn-half:link,
.btn-half:visited {
    border: 1px solid #2980b9;
    color: #2980b9;
}

.btn:hover,
.btn:active {
    background-color: #1a5073;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #1a5073;
}

.btn-half:hover,
.btn-half:active {
    border: 1px solid #1a5073;
    color: #fff;
}


/*        -------SECTION SECTOR--------         */


/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}


/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}